## Parameters

In [ ]:
# Parameters
bucketPath = "s3://<s3-bucket-name>"

## Read the input from the location and create a taxi_data temp table

In [ ]:
inputPath = bucketPath + "/input/tripdata.csv"
taxiData = spark.read.option("inferSchema", "true").option("header", "true").csv(inputPath)
taxiData.createOrReplaceTempView("taxi_data")

## Get the trip distance by RateCodeId

In [ ]:
result = spark.sql("select RatecodeID as rate_code, sum(trip_distance) as total_distance from taxi_data group by RatecodeID")

## Write the result in the output path

In [ ]:
outputPath = bucketPath + "/miles-per-rate"
result.write.parquet(outputPath)